@import 'variables';

// set modal size
.modal-body {
  width: 680px;
  padding: 40px;
  /deep/ .tags {
    margin: 10px 0 5px;
  }
}

// modal close button
.btn-close {
  position: absolute;
  top:22px;
  right: 22px;
  width: 32px;
  padding: 5px;
  color: $panel-action-color;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.description {
  margin: 25px 0;
  line-height: 24px;
}

// customize the event date
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn  {
    padding-left: 15px;
    padding-right: 15px;
    .fa {
      margin-right: 3px;
    }
  }

  .btn-light {
    color: $body-color;
  }

  .btn-light .fa {
    color: $panel-action-color;
  }
}

.btns-wrap {
  margin: -7px 0 0 -7px;
  .btn {
    margin: 7px 0 0 7px;
  }
}

@media (max-width: $t-max-width) {
  // set modal width
  .modal-body {
    width: 512px;
    padding: 30px;
  }

  // modal close btn
  .btn-close {
    top: 16px;
    right: 16px;
    width: 26px;
    padding: 4px;
  }

  // modal title
  .title {
    font-size: 12px;
  }

  // doc date
  .date {
    margin-top: 2px;
    .btn  {
      padding-left: 8px;
      padding-right: 8px;
      .fa {
        font-size: 12px;
      }
    }
  }
  .date,
  .description {
    font-size: 10.5px;
  }
  .description {
    margin: 15px 0 23px;
    line-height: 18px;
  }

  .btns-wrap {
    margin: -5px;
    margin-bottom: 0;
    .btn {
      margin: 5px 0 0 5px;
    }
  }
}

@media (max-width: $m-max-width) {
  .modal-body {
    width: 355px;
    width: calc(100vw - 20px);
    padding: 22px 15px;
  }

  .btn-close {
    top: 6px;
    right: 6px;
    width: 26px;
    padding: 4px;
  }
}
