<footer class="wrapper">
  <!-- utils links -->
  <ul class="link-list util-links">
    <li>Copyright 2017 Placeholder</li>
    <li><a href="javascript:;" title="Privacy Policy">Privacy Policy</a></li>
    <li><a href="javascript:;" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
  </ul>
  <span class="spacer"></span>
  <!-- social icons links -->
  <ul class="link-list social-links">
    <li class="inc">
      <a href="javascript:;"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="inc">
      <a href="javascript:;"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
      <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
      <a href="javascript:;"><i class="fa fa-envelope"></i></a>
    </li>
  </ul>
</footer>
