@import 'variables';

.wrapper {
  height: 100%;
  display: flex;
}

// page sidebar
aside {
  width: 64px;
  height: 100%;
  flex: 0 0 auto;
  z-index: 19;

  position: fixed;
}

.main {
  width: calc(100% - 48px);
  margin-left: 64px;
  flex: 1 1 auto;
}

// page header
app-page-header {
  position: fixed;
  z-index: 9;
  width: calc(100% - 64px);

  + .page-content {
    margin-top: 64px;
  }
}

.page-content {
  min-height: 100%;
  min-height: calc(100% - 64px);
}

.content-wrapper {
  min-height: 100vh;
  min-height: calc(100vh - 128px);
}

@media (max-width: $t-max-width) {
  // page sidebar
  aside {
    width: 48px;
  }

  .main {
    margin-left: 48px;
  }

  app-page-header {
    width: calc(100% - 48px);
  }

  app-page-header + .page-content {
    margin-top: 48px;
    min-height: calc(100% - 48px);
  }

  .content-wrapper {
    min-height: calc(100vh - 96px);
  }
}

@media (max-width: $m-max-width) {
  // hide sidebar menu on mobile
  aside:not(.toggled) {
    height: 48px;
  }

  .main {
    margin-left: 0;
  }

  app-page-header {
    width: 100%;
  }

  /deep/ app-page-header + .page-content {
    margin-top: 48px;
    min-height: calc(100vh - 48px);
  }

  .content-wrapper {
    position: relative;
    min-height: calc(100vh - 200px);
  }
}
