@import 'variables';

.content {
  display: flex;
  height: 100%;
}

.sidebar {
  border-right: 1px solid $border-color;
  font-size: 13px;
  line-height: 13px;
  width: 230px;
  flex: 0 0 auto;
  padding-bottom: 32px;
  padding-right: 21px;
}

// cusomize the search input to fit in the sidebar
app-quick-search-input {
  width: 100%;
  margin-top: 11px;
  display: block;
  /deep/ {
    .form-inline {
      margin-right: 0;
      width: 100%;

      .btn {
        height: 100%;
        background-color: transparent;
        font-size: 16px;
      }

      .fa {
        color: $panel-action-color;
      }
    }

    .form-control {
      color: $body-color;
      font-size: 13px;
      background: $panel-bg-color;
      width: 100%;
      border: 1px solid $glossary-search-border-color;
      border-radius: 30px;

      padding: 8px 15px;
      padding-right: 40px;
      line-height: 19px;
    }
  }
}

// the articles header
.art-li-header {
  margin: 32px 0 21px;
  font-weight: bold;
  color: $glossary-title;
  text-transform: uppercase;
}

// simple article item
.art-li-item {
  display: block;
  color: $panel-action-color;
  margin-top: 10px;
  line-height: 25px;

  &.active {
    color: $primary;
    font-weight: bold;
  }

  &:first-child {
    margin-top: 29px;
  }
}

// main article wrapper
.viewer {
  color: $glossary-view-color;
  padding: 32px  0 32px 38px;

  font-size: 13px;
  line-height: 13px;

  h3 {
    font-size: 22px;
    font-weight: bold;
  }

  /deep/ {
    strong {
      display: block;
      margin-bottom: 10px;
    }
  }
}

// article navigation buttons
.nav {
  .prev,
  .next {
    width: 37px;
    height: 37px;
    border-radius: 3px;
    background: $body-bg;
    color: $panel-action-color;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    cursor: pointer;

    &.disabled {
      background: $light;
      color: rgba($panel-action-color, .6);
      pointer-events: none;
    }
  }

  .prev {
    margin-right: 10px;
  }
}

.article-description {
  margin-top: 12px;
  /deep/ {
    p {
      margin-bottom: 25px;
      line-height: 30px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 5px 0 20px;
      li {
        &:before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 3px;
          height: 3px;
          background-color: currentColor;
          margin-right: 35px;
          margin-left: 3px;
        }

        & + li {
          margin-top: 10px;
        }
      }
    }
  }
}

// article "bottom" links
.article-related {
  margin-top: 50px;
}

.article-next {
  margin-top: 30px;
}

.article-help {
  margin-top: 50px;

  strong {
    margin-bottom: 0;
  }

  .choice {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    color: $panel-action-color;
    background-color: $body-bg;

    padding: 0 10px;
    min-width: 42px;

    margin-left: 10px;
    border-radius: 3px;
    font-weight: 600;
  }
}


@media (max-width: $t-max-width) {
  .sidebar {
    font-size: 11px;
    line-height: 11px;
    width: 140px;
    padding-bottom: 32px;
    padding-right: 28px;
  }

  // cusomize the search input to fit in the sidebar
  app-quick-search-input {
    margin-top: 15px;
    /deep/ {
      .form-inline {
        width: auto;
        margin-left: -5px;
        margin-right: -5px;

        .btn {
          font-size: 14px;
        }
      }

      .form-control {
        font-size: 11px;
        padding: 8px 30px 8px 13px;
      }
    }

    & + .art-li-header {
      margin-top: 17px;
    }
  }

  // the articles header
  .art-li-header {
    margin: 26px 0 17px;
  }

  // simple article item
  .art-li-item {
    line-height: 16px;
    margin-top: 14px;
  }

  // main article wrapper
  .viewer {
    padding: 15px 0 15px 20px;
    font-size: 11px;
    line-height: 13px;

    strong {
      font-size: 12px;
    }
  }

  // article navigation buttons
  .nav {
    flex-shrink: 0;
    .prev,
    .next {
      font-size: 18px;
    }
  }

  .article-description {
    margin-top: 18px;
    font-size: 13.5px;
    /deep/ {
      p {
        margin-bottom: 15px;
        line-height: 20px;
      }

      ul {
        li {
          line-height: 18px;
          display: flex;
          align-items: flex-start;
          &:before {
            margin-right: 10px;
            margin-left: 1px;
            margin-top: 7px;
            display: inline-block;
          }

          & + li {
            margin-top: 8px;
          }
        }
      }
    }
  }

  // article "bottom" links
  .article-related {
    margin-top: 15px;
  }

  .article-next,
  .article-help {
    margin-top: 25px;
  }
}

@media (max-width: $m-max-width) {
  // hide article sidebar on mobile
  .sidebar {
    display: none;
  }

  // main article wrapper
  .viewer {
    margin-top: 15px;
    padding: 15px 20px;
    border-top: solid 1px $body-bg;
    h3 {
      font-size: 15px;
    }
  }
  .article-description {
    font-size: 11px;
    line-height: 24px;
  }
}
