<article class="wrapper" [ngClass]="{collapsed: collapsed}">
  <!-- panel header -->
  <header [ngClass]="{'detail-view' : isDetailView,'selecting': tableItem.checkedNum>0}">
    <!-- panel title -->
    <h3 *ngIf="tableItem.checkedNum === 0">
      <ng-content select="[p-title]"></ng-content>
    </h3>
    <div class="select-group" *ngIf="tableItem.checkedNum > 0">
	    <a href="javascript:;"><span class="num">{{tableItem.checkedNum}}</span>Item{{tableItem.checkedNum > 1 ? 's' : ''}} Selected</a>
	    <a href="javascript:;" (click)="clickSelectAll(tableItem)">Select All</a>
    </div>
    <!-- panel right actions -->
    <div class="panel-actions">
      <!-- allow one to provide content in the panel's actions -->
      <ng-content select="[p-actions]"></ng-content>
      <!-- search functionality -->
      <a class="action search-action" href="javascript:;" *ngIf="allowSearch!==false && tableItem.checkedNum === 0" 
         [ngClass]="{active: searchToggled}">
        <i class="fa fa-search" (click)="toggleSearch(true);searchInput.focus()"></i>
        <input
          #searchInput
          type="search"
          class="form-control"
          [(ngModel)]="searchQuery"
          [ngbTypeahead]="query"
          [resultTemplate]="rt"
          [inputFormatter]="inputFormatter"
          [focusFirst]="false"
          (selectItem)="onSearchResult($event)"
        />
        <i class="fa fa-times close-search" (click)="toggleSearch(false)"></i>
      </a>
      <!-- minimize -->
      <a class="action" href="javascript:;" *ngIf="minimizable!==false && tableItem.checkedNum === 0" 
         (click)="collapsed=!collapsed">
        <i class="fa" [ngClass]="collapsed ? 'fa-plus' : 'fa-minus'"></i>
      </a>
      <div class="control-boxs" *ngIf="isDetailView && tableItem.checkedNum === 0">
        <a href="javascript:;" class="blue-links" 
          *ngIf="!tableItem.isShowFilter"
          (click)="tableItem.isShowFilter = true">
          <i class="fa fa-plus"></i>
          Show Filter
        </a>
        <a href="javascript:;" class="blue-links" 
          *ngIf="tableItem.isShowFilter"
          (click)="tableItem.isShowFilter = false">
          <i class="fa fa-minus"></i>
          Hide Filter
        </a>
        <a href="javascript:;" class="btn btn-primary"><i class="fa fa-plus"></i>Add {{tableItem.addBtnTitle}}</a>
      </div>
      <a href="javascript:;" class="btn btn-gray" *ngIf="tableItem.checkedNum > 0">Delete</a>
    </div>
  </header>
  <!-- panel content -->
  <section class="section-content">
    <ng-content select="[content]"></ng-content>
  </section>
</article>

<!-- template for the results dropdown -->
<ng-template #rt let-r="result" let-t="term">
  <!-- render the item logo -->
  <div>
    <div class="result-title">
      <!-- show the "matched" text -->
      <ngb-highlight class="r-title" [result]="r.name" [term]="t"></ngb-highlight>
    </div>
  </div>
  <i class="icon fa fa-chevron-right"></i>
</ng-template>
