@import 'variables';

// customize the modal's size
.modal-body {
  width: 600px;
  padding: 30px 40px;

  .title {
    font-weight: 700;
  }

  .filters {
    margin: 25px 0 20px;
  }

  .filter-item {
    display: inline-block;
    padding: 7px 15px;
    background: $light;
    border-radius: 4px;
    margin-right: 10px;
    .close-icon {
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  // space out the modal action buttons
  .btn {
    min-width: 96px;
  }

  .btn + .btn {
    margin-left: 20px;
  }
}

@media (max-width: $t-max-width) {
  .modal-body {
    width: 450px;
    padding: 22px 32px;
    h3 {
      font-size: 17px;
    }
    .filters {
      margin: 22px 0 16px;
    }
    .filter-item {
      font-size: 9px;
      padding: 5px 13px;
    }
    .btn {
      min-width: 73px;
      font-size: 9px;
    }
    .btn + .btn {
      margin-left: 12px;
    }
  }
}

@media (max-width: $m-max-width) {
  .modal-body {
    width: 355px;
    width: calc(100vw - 20px);
    padding: 22px;

    .filters {
      margin-top: 12px;
    }

    .filter-item {
      margin-top: 10px;
    }
  }
}
