@import 'variables';

//model-tips
.model-tips {
  position: fixed;
  right: 20px;
  top: 74px;
  z-index: 99;
  .tips-sections {
    padding: 15px 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    width: 300px;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    .title {
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      margin-bottom: 6px;
    }
    p {
      font-size: 12px;
      text-align: justify;
      line-height: 24px;
      margin-bottom: 0;
    }
    .fa-close {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 10px;
      height: 10px;
      font-size: 12px;
      color: #939393;
      &:hover {
        opacity: 0.85;
      }
    }
  }
}