@import 'variables';

// set modal width
.modal-body {
  width: 680px;
  padding: 40px;
  /deep/ .tags {
    margin: 0;
  }
}

// modal close btn
.btn-close {
  position: absolute;
  top:22px;
  right: 22px;
  width: 32px;
  padding: 5px;
  color: $panel-action-color;
}

.title-row {
  width: 100%;
  padding-right: 25px;
}

.title-col {
  width: 100%;
  padding-right: 31px;
}

// modal title
.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.icon {
  margin-right: 10px;
}

// doc date
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $panel-action-color;
  margin-top: 5px;
  .btn  {
    padding-left: 15px;
    padding-right: 15px;
    .fa {
      margin-right: 3px;
      font-size: 14px;
    }
  }

  .btn-light {
    color: $body-color;
  }

  .btn-light .fa {
    color: $panel-action-color;
  }
}

// doc details
.info {
  margin: 25px 0 20px;
  padding: 15px 20px 25px;
  background-color: $light;
  line-height: 24px;
  color: black;
}
// details table row
.info-row {
  display: flex;
  margin-bottom: 5px;
  .label {
    position: relative;
    padding-right: 10px;
    width: 150px;
    flex-shrink: 0;
    font-weight: 600;
  }
  .label:after {
    content: ':';
    position: absolute;
    right: 3px;
  }
}

@media (max-width: $t-max-width) {
  // set modal width
  .modal-body {
    width: 512px;
    padding: 30px;
  }

  // modal close btn
  .btn-close {
    top: 16px;
    right: 16px;
    width: 26px;
    padding: 4px;
  }
  .icon img {
    width: 25px;
  }

  // modal title
  .title {
    font-size: 12px;
  }

  .icon {
    margin-right: 8px;
  }

  // doc date
  .date {
    margin-top: 2px;
    .btn  {
      padding-left: 8px;
      padding-right: 8px;
      .fa {
        font-size: 12px;
      }
    }
  }

  // doc details
  .info {
    margin: 20px 0 15px;
    padding: 13px 15px 20px;
    line-height: 18px;
    font-size: 10.5px;
  }
  // details table row
  .info-row {
    .label {
      width: 115px;
    }
  }
}

@media (max-width: $m-max-width) {
  .modal-body {
    width: 355px;
    width: calc(100vw - 20px);
    padding: 22px;
  }

  .btn-close {
    top: 6px;
    right: 6px;
    width: 26px;
    padding: 4px;
  }

  .date {
    margin-top: 7px;
  }
}
